{{#each errors}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}

<h3>New Post</h3>
<div class="card">
    <div class="card-body">
        <form action="/admin/posts/new" method="POST">
            <label for="Title">Title: </label>
            <input type="text" name="title" id="" class="form-control">
            <label for="slug">Slug: </label>
            <input type="text" name="slug" class="form-control">
            <label for="description">Description: </label>
            <input type="text" name="description" class="form-control">
            <label for="content">Content: </label>
            <textarea name="content" id="" class="form-control"></textarea>
            <label for="category">Category: </label>
            <select name="category" id="" class="form-control">
                {{#each category}}
                    <option value="{{_id}}">{{name}}</option>
                {{else}}
                    <option value="0">No Category</option>
                {{/each}}
            </select>
            <button class="btn btn-success mt-4">Create Post</button>
        </form>
    </div>
</div>